
body{margin: 0%;}

#content{ 
    background-color:whitesmoke;
    margin-left: 150px;
    margin-right: 150px;
}

#banner{
    text-align: center;
    max-width:100%;
    height: 250px;
    background-color: aqua;
    padding: 20px;

}
#banner img{
    max-width: 100%;
    max-height: 100%;
}
