
body{margin: 0%;
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid black;
}

#content{ 
    background-color:whitesmoke; 
}

#banner{
    text-align: center;
    max-width:100%;
    height: 180px;
    background-color: rgb(7, 117, 117);
    padding: 20px;

}

#banner img{
    max-width: 100%;
    max-height: 100%;
}
