
#user_name{
    color: aliceblue;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 15px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: rgb(85, 85, 250);
}



#container_2{
    
    margin-bottom: 3%;
    background-color: rgb(241, 234, 234) ;
    border-radius: 35px;
    padding-left: 25%;
    padding-top: 120px;
}

#button{
    padding-top: 100px;
    padding-left: 60%;
    padding-bottom: 30px;
}

#button button{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(85, 85, 250);
}