
body{margin: 0%;}

#content{ 
    background-color:whitesmoke;
    margin-left: 150px;
    margin-right: 150px;
}

#banner{
    text-align: center;
    max-width:100%;
    height: 250px;
    background-color: aqua;
    padding: 20px;

}
#banner img{
    max-width: 100%;
    max-height: 100%;
}

#container{
    padding: 15px;
    padding-top: 50px;
    display: flex;
}

#container_login{
    margin-right: 10%;
    max-width: 50%;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding-bottom: 15px;
}

#info_login{  
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#campos{
    border-top: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
}


#buttons {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

#b_entrar button{
    width: 220px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    border: 10px;
    border-radius: 10px;
    background-color:rgb(110, 110, 252);
}

#txt{
    background-color: rgb(216, 211, 211);
    border-radius: 10px;
    padding: 15px;
}